<div class="row">
  <div class="col s2 m2 offset-s1 offset-m5">
    <h3 class="welcome-title text-center">Archive</h3>
  </div>
  <div class="col s4 m3 offset-s5 offset-m2">
    <div class="login-btn-block">
      {{#link-to 'login' class="btn"}}Login{{/link-to}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col s8 m4 offset-m1 offset-s1">
    <div class="card">
      <div class="card-content blue-grey-text">
        <span class="card-title">Join the culture of <span class="welcome-text-impt">Unique Documentation</span></span>
        <p>
          <span class="welcome-text-impt">Write, Share &amp; Collaborate</span>
          to create documentation of your projects for better understanding of the flow in future.
        </p>
      </div>
      <div class="card-content check">
        {{#link-to 'signup' class="waves-effect waves-light btn-large"}}Sign Up{{/link-to}}
      </div>
    </div>
  </div>
  <div class="col s8 m5 offset-m1 offset-s1">
    <img class="welcome-image" src="{{rootUrl}}assets/images/post-it-notes.png" />
  </div>
</div>
{{outlet}}
