@import url('https://fonts.googleapis.com/css?family=Rye');

* {
  /*border: 1px solid green;*/
}

body {
  background: rgb(223, 237, 249);
}

.welcome-title {
  font-family: 'Rye', cursive;
  margin-bottom: 60px;
}

.signup-title {
  font-family: 'Rye', cursive;
  margin-bottom: -5px;
  /*margin-left: 15px;*/
}

.login-title {
  font-family: 'Rye', cursive;
  margin-bottom: 60px;
}

.login-btn-block {
  text-align: right;
  margin: 22px auto;
  margin-right: 15px;
  /*padding: 4px;*/
}

.login-btn-block a {
  background: transparent;
  border: 1px solid #546e7a;
  box-shadow: none;
  color: #546e7a;
}

.login-btn-block a:hover {
  background: #546e7a;
  border: 1px solid #546e7a;
  box-shadow: none;
  color: rgb(223, 237, 249);
}

.welcome-text-impt {
  font-weight: bold;
  font-size: 1.1em;
}

.welcome-image {
  width: 78%;
}

.text-center {
  text-align: center;
}

.signup-row-field {
  margin-top: 2px;
  margin-bottom: 2px;
}

.card-content {
  overflow: hidden;
}

.validation_error {
  color: #d81717;
  font-size: 11px;
}
.error-div{
  margin-top: -16px;
  width:100%;
  height:20px;
}

.hide {
  display: none;
}